@charset "UTF-8";


table {
	border: 1px solid #444444;
}

th, td {
	border: 1px solid #444444;
}

.calendar .sunday {
	color: #F79DC2;
}

.calendar .saturday {
	color: skyblue;
}

.day_selection_wrap{
	position:relative;
	margin:0 auto;
}
.calendar_wrap{
	position:relative;
	overflow:hidden;
	height:200px;
}

.day_selection_wrap #calendar{
	top:0;
}