@charset "UTF-8";

tr, td, th {
	text-align: center;
}

table {
	width: 100%;
}

th {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

th:last-child {
	border-right: none;
}

.fc-basic-view .fc-body .fc-row {
	height: 95px !important;
}

.fc-scroller.fc-day-grid-container {
	height: 570px !important;
	overflow: hidden;
}

.tab-content {
	height: -webkit-fill-available;
}

.fc-sun {
	color: #f44e4e;
}

.tab-content a#tree-btn {
	padding-right: 20px;
	position: relative;
}

.tab-content  a#tree-btn:after {
	content: '';
	display: block;
	position: absolute;
	right: 6px;
	top: 1px;
	width: 9px;
	height: 9px;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}