@charset "UTF-8";

.calendar .sunday {
	color: #F79DC2;
}

.calendar .saturday {
	color: skyblue;
}

.day_selection_wrap{
	margin:10rem auto 0 auto;
	position:relative;
	border-bottom:1px solid #dedede;
}
.day_selection_wrap tr{
	border-top:1px solid #dedede;
}

.day_selection_wrap th{
	text-align:center;
	line-height:2.5rem;
	background:#f9f9f9;
	font-size:1rem;
	font-weight:normal;
}

.day_selection_wrap td{
	font-size:1rem
}

.calendar_wrap{
	position:relative;
	overflow:hidden;
	height:200px;
}

.calendar_wrap table{
	top:0;
	margin: 0 auto;
}
