@charset "UTF-8";
tr,td,th{
	text-align:center;
}
table{
	width:100%;
}

th{
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}

th:last-child{
	border-right:none;
}
.fc-basic-view .fc-body .fc-row{
	height:95px !important;
}

.fc-scroller.fc-day-grid-container{
	height:570px !important;
	overflow:hidden;
}

.tab-content {
	height:-webkit-fill-available;
}

.fc-sun {
	color:#f44e4e;
}
