@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

#page-wrapper {
	height: -webkit-fill-available !important;
	min-width: 1000px;
}

.row {
	display: block !important;
	position: relative;
	overflow: hidden;
}

.cont-wrap {
	position: relative;
	float: left;
}

body {
	font-family: 'Noto Sans', sans-serif;
	color: '#333';
	font-size: 14px;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/*custom*/
.page-header {
	
}

#page-wrapper .panel.panel-default {
	background: #fff;
	border: none;
}

#page-wrapper  .panel.panel-default .panel-heading {
	background: #fff;
	font-size: 18px;
	font-weight: bolder;
	border-bottom: 2px solid #333;
	padding: 20px 0 20px 0;
	margin: 0 0 20px 0;
}

table.table {
	margin: 0 auto;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.text-center {
	text-align: center !important;
}

select {
	box-shadow: none !important;
}

position-relative {
	position: relative!importaint;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	margin: 0 auto;
}

img {
	vertical-align: top;
	width: 100%;
}