.sideBar-pc { background: #343a40; height: -webkit-fill-available; position: relative; }

.sideBar-pc ul { overflow: hidden; }

.sideBar-pc ul li { border: none; background: #343a40; }

.sideBar-pc ul li a { display: block; color: #fff; }

.sideBar-pc ul .depth-1:hover a:after { transition: transform .35s ease, opacity .35s ease; -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }

.sideBar-pc ul .depth-1 > a:after { display: inline-block; width: 0; height: 0; margin-left: 0.255em; vertical-align: 0.255em; content: ""; border-top: 0.3em solid; border-right: 0.3em solid transparent; border-bottom: 0; border-left: 0.3em solid transparent; float: right; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); transition: transform .35s ease, opacity .35s ease; }

.sideBar-pc ul .depth-1 > a + .depth-2 li { padding-left: 0; }

.sideBar-pc ul .depth-1 > a + .depth-2 li a { font-size: 0.85rem; color: #8f8f8f; }

.sideBar-pc ul .depth-1 > a + .depth-2 li a:hover { color: #fff; }

.sideBar-pc ul.sub-list { margin-top: 3rem; padding-top: 1rem; border-top: 1px solid rgba(255, 255, 255, 0.75); }

.sideBar-pc ul.sub-list li a { display: block; color: #8f8F8F; font-size: 0.8rem; }
