<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis db연결정보 세팅 파일 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.kimsclub.groupware.vo.ApprovalVO" alias="Approval" />
		<typeAlias type="com.kimsclub.groupware.vo.ApprovalLineVO" alias="ApprovalLine" />
		<typeAlias type="com.kimsclub.groupware.vo.ApprovalPathVO" alias="ApprovalPath" />
		<typeAlias type="com.kimsclub.groupware.vo.ApprovalPathDetailVO" alias="ApprovalPathDetail" />
		<typeAlias type="com.kimsclub.groupware.vo.BoardVO" alias="board" />
		<typeAlias type="com.kimsclub.groupware.vo.BoardReplyVO" alias="boardReply" />
		<typeAlias type="com.kimsclub.groupware.vo.DayoffCreateTermsVO" alias="DayoffCreateTerms"/>
		<typeAlias type="com.kimsclub.groupware.vo.DayoffKindsVO" alias="DayoffKinds"/>
		<typeAlias type="com.kimsclub.groupware.vo.DayoffCreateRecodeVO" alias="DayoffCreateRecode"/>
		<typeAlias type="com.kimsclub.groupware.vo.DepartmentVO" alias="department" />
		<typeAlias type="com.kimsclub.groupware.vo.DocumentVO" alias="Document" />
		<typeAlias type="com.kimsclub.groupware.vo.EmployeeVO" alias="employee" />
		<typeAlias type="com.kimsclub.groupware.vo.FormVO" alias="Form" />
		<typeAlias type="com.kimsclub.groupware.vo.DayoffApplyVO" alias="DayoffApply"/>
		<typeAlias type="com.kimsclub.groupware.vo.DayoffApplyDetailVO" alias="DayoffApplyDetail"/>
		<typeAlias type="com.kimsclub.groupware.vo.DayoffMyRecodeVO" alias="DayoffMyRecode"/>
		<typeAlias type="com.kimsclub.groupware.vo.CalendarVO" alias="calendar"/>
		<typeAlias type="com.kimsclub.groupware.vo.MessageVO" alias="message" />
		<typeAlias type="com.kimsclub.groupware.vo.TransmissionVO" alias="Transmission" />
		<typeAlias type="com.kimsclub.groupware.vo.WorkRecodeVO" alias="WorkRecode"/>
	</typeAliases>
</configuration>