@charset "UTF-8";

.calendar .sunday {
	color: #F79DC2;
}

.calendar .saturday {
	color: skyblue;
}

.month_year_div table{
	top:0;
	height:60%;
	margin: auto;
	text-align: center;
}
.month_year_div table td{
	border:1px solid #dedede;
	width:5%;
	position:relative;
}
.month_year_div table thead tr{
	line-height:30px;
}
.month_year_div table tbody tr{
	height: 30px;
	border: 1px solid gray;
}

/* a#conditions:after {
	content: '';
	display: block;
	position: absolute;
	right: 6px;
	top: 1px;
	width: 9px;
	height: 9px;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
 */
